<% if @user == nil %>
  <h1> Please fill in your email and click on reset password </h1>
  <form action="/users/password_reset" method="post">
    User email: <input type="text" name="email">
    <input type="submit" value="Reset password">
  </form>
<% else %>
  <p>Check your emails</p>
<% end %>
